*{
  margin: 0;
  padding: 0;
}
/* Header styles*/
header{
  background-color: skyblue;
  color: #fff;
  padding: 10px 0;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Styling */
.logo img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo h1{
  font-size: 24px;
}
h1{
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  list-style: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0 .3s;
}
a:hover{
  color:#3b4d61;
}